/*Debut reset*/ 
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html{
    font-size: 62.5%;
}
body{
    font: 1.6rem 'lobster', sans-serif;
    margin: 0;
}
h1,h2,h3{
    margin: 0;
    font-weight: 300;
}
a{
    text-decoration: none;
    color: #222;
}
*{
    box-sizing: border-box;
}  

/*fin de reset*/
:root{
    --color-basic: #fff;       
    --color-primary: #1C5882;           
    --color-fonce:#000;   
}



body{
    background-color: rgba(52, 152, 219,0.1);
}

header{

    background-color: var(--color-primary);
}
header h1{
    text-align: center;
    line-height: 6rem;
    font-size: 4rem;
    color: #fff;
}

main{
    max-width: 60rem;
    margin: 0 auto;
}
main .form{
    padding: 1rem;
    border: solid .1rem #ccc;
    background-color: #fafafa;
}


section{
    margin-bottom: 5rem;
    text-align: center;
    margin-top: 5rem;
    color: #1C5882;
}

fieldset legend{
    padding-bottom: 1rem;
    color:#1C5882 ;
}
.form input, .form label, fieldset input, fieldset label{
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
}

.form input, fieldset input{
    border: solid .1rem #ccc;
    line-height: 3.5rem;
    padding: .5rem;
}
.form input[placeholder],fieldset input[placeholder]{
    font-size: 1.6rem;
}
/* submit */
 form input[type="submit"]{
    display: block;
    line-height: 4rem;
    text-align: center;
    border: solid .1rem transparent;
    margin: .8rem auto 0;
    width: 55rem;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: .3rem;
    font-size: 1.6rem;
}
footer{
    text-align: center;
}
.warning, .sucess{
    background-color: rgb(200,0,0);
    color: #fff;
    text-align: center;
    margin-bottom: 1.0rem;
    display: none;
    line-height: 2.5rem;
    padding: 1rem;
}

.sucess{
    background-color: rgb(0,200,0);
}

p{
    text-align: center;
}
fieldset{
    border: none;
}
